{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style3.css">
    <br>
    <h3>Works Log</h3>
    <br>
    {% for job in data %}
        <h5>Action # {{ job['id'] }}</h5>
        <table>
            <tr class="table-header">
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
            <tr class="main-line">
                <th>{{ job['title'] }}</th>
                <th>{{ job['team_leader'] }}</th>
                <th>{{ job['duration'] }} hours</th>
                <th>{{ job['collaborators'] }}</th>
                <th class="status-finished">{% if job['finished'] %}Finished{% else %}Is not finished{% endif %}</th>
            </tr>
        </table>
        <br>
    {% endfor %}
{% endblock %}