table {
    text-align: center;
}

tr.table-header {
    background-color: #E5E5E5;
    height: 50px;
}

tr.main-line {
    background-color: #CCCCFF;
    height: 50px;
}

th.status-finished {
    background-color: #FFCCFF;
}